---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/1ae33dd5f3314402948069517fa40ae2/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - abf4ee19-97dd-45a0-aaad-02b7a178d1b8
      etag:
      - W/"39fe-b8k30i3gK3RkayQME9k5c+KeqNo"
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c\",\"created_time\":\"2022-09-17T15:03:00.000Z\",\"last_edited_time\":\"2022-10-04T20:05:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"1ae33dd5-f331-4402-9480-69517fa40ae2\"},\"archived\":false,\"properties\":{\"Multi
        Select\":{\"id\":\"%3C%7Bn%7B\",\"type\":\"multi_select\",\"multi_select\":[]},\"Select\":{\"id\":\"%3EzjF\",\"type\":\"select\",\"select\":null},\"Person\":{\"id\":\"TFSp\",\"type\":\"people\",\"people\":[]},\"Date\":{\"id\":\"T~YB\",\"type\":\"date\",\"date\":null},\"Tags\":{\"id\":\"UT%3Fx\",\"type\":\"multi_select\",\"multi_select\":[]},\"Numbers\":{\"id\":\"a~dg\",\"type\":\"number\",\"number\":null},\"Rich
        Text\":{\"id\":\"jJWo\",\"type\":\"rich_text\",\"rich_text\":[]},\"Phone\":{\"id\":\"k%5DEi\",\"type\":\"phone_number\",\"phone_number\":null},\"File\":{\"id\":\"x%60rF\",\"type\":\"files\",\"files\":[]},\"Email\":{\"id\":\"x%7Bcw\",\"type\":\"email\",\"email\":null},\"Checkbox\":{\"id\":\"%7CMPu\",\"type\":\"checkbox\",\"checkbox\":false},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"table\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"table\",\"href\":null}]}},\"url\":\"https://www.notion.so/table-7a33528a8a384148bdb1ca5a62a0ce3c\",\"public_url\":null},{\"object\":\"page\",\"id\":\"d7cb295f-5ae1-4900-916f-53fc7b8362af\",\"created_time\":\"2022-09-11T12:57:00.000Z\",\"last_edited_time\":\"2022-09-11T12:58:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"1ae33dd5-f331-4402-9480-69517fa40ae2\"},\"archived\":false,\"properties[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/7a33528a-8a38-4148-bdb1-ca5a62a0ce3c/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d069f7bc-6609-4bfc-862f-89de95c6b62e
      etag:
      - W/"e95-B+a3n7O/8s5R6cHajgcYSyYYiQQ"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"a470e2ac-4d90-4c0b-b2f0-95b60d3de752","parent":{"type":"page_id","page_id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c"},"created_time":"2022-09-17T15:03:00.000Z","last_edited_time":"2022-09-17T15:03:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false}},{"object":"block","id":"388dee32-af17-4904-b593-59d7f579cf96","parent":{"type":"page_id","page_id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c"},"created_time":"2022-09-17T15:04:00.000Z","last_edited_time":"2022-09-19T18:49:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false}},{"object":"block","id":"789b25ec-7b02-44b0-b617-1f52b4320d58","parent":{"type":"page_id","page_id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c"},"created_time":"2022-09-17T15:10:00.000Z","last_edited_time":"2022-09-19T18:50:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":true}},{"object":"block","id":"dad7a2cc-dc02-47d1-8f62-b6377af0db2f","parent":{"type":"page_id","page_id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c"},"created_time":"2022-09-27T19:49:00.000Z","last_edited_time":"2022-10-04T20:04:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
        is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a paragraph","href":null}],"color":"default"}},{"object":"block","id":"b2d82ef6-12cd-4124-8d08-f38fe01db2bd","parent":{"type":"page_id","page_id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c"},"created_time":"2022-10-04T20:04:00.000Z","last_edited_time":"2022-10-04T20:05:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"blabla
        1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"blabla
        1","href":null}],"checked":false,"color":"default"}},{"object":"block","id":"0ddfc2dd-3db1-408a-a5eb-b608da6eab2f","parent":{"type":"page_id","page_id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c"},"created_time":"2022-10-04T20:04:00.000Z","last_edited_time":"2022-10-04T20:05:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"blabla
        4","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"blabla
        4","href":null}],"checked":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
  recorded_at: Mon, 04 Sep 2023 22:01:06 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/a470e2ac-4d90-4c0b-b2f0-95b60d3de752/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 073fe2b1-f5f0-4d15-9085-f440d5906de0
      etag:
      - W/"ac0-UoPlM11mf3u5FfKp1SKeu13BCUY"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"8d2cdd98-91ba-461f-8f16-49fcab5cf715","parent":{"type":"block_id","block_id":"a470e2ac-4d90-4c0b-b2f0-95b60d3de752"},"created_time":"2022-09-17T15:03:00.000Z","last_edited_time":"2022-09-17T15:04:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"0.0
        cell","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"0.0
        cell","href":null}],[{"type":"text","text":{"content":"0.1 cell","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"0.1
        cell","href":null}]]}},{"object":"block","id":"8d191552-4cb9-4470-b5fe-7d[...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/d7cb295f-5ae1-4900-916f-53fc7b8362af/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b125907f-5aa0-4038-8800-5665189f0329
      etag:
      - W/"10f7-6Q9qpgoHFbmIvKvz3Kd+9IPElNA"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"9d8eb3bb-d709-432f-baa9-274bc09b05a4","parent":{"type":"page_id","page_id":"d7cb295f-5ae1-4900-916f-53fc7b8362af"},"created_time":"2022-09-11T12:57:00.000Z","last_edited_time":"2022-09-11T12:57:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"blabla","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"blabla","href":null}],"color":"default"}},{"object":"block","id":"5f60bd6c-31a3-4434-944d-ea09e10f473d","parent":{"type":"page_id","page_id":"d7cb295f-5ae1-4900-916f-53fc7b8362af"},"created_time":"2022-09-11T12:57:00.000Z","last_edited_time":"2022-09-11T12:57:00.000Z","created_by":{"object":"user","id[...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/5bbf1104-55bb-405e-8e4a-66676c3db292/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d3a56107-d9fc-4fdd-8f56-cfd7aed952f6
      etag:
      - W/"5e7-61phDmjZsu8EPAbdsFGOEWyBk4o"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"4624a3d0-ec75-4d89-a3dc-c28ffe755076","parent":{"type":"block_id","block_id":"5bbf1104-55bb-405e-8e4a-66676c3db292"},"created_time":"2022-09-11T12:58:00.000Z","last_edited_time":"2022-09-11T12:58:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"type":"numbered_list_item","numbered_list_item":{"rich_text":[{"type":"text","text":{"content":"blabla","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"blabla","href":null}],"color":"default"}},{"object":"block","id":"b86241b9-13be-4611-a028-86c94dc667c9","parent":{"type":"block_id","block_id":"5bbf1104-55bb-405e-8e4a-66676c3db292"},"created_time":"2022-09-11T12:58:00.000Z","last_edited_time":"2022-09-11T12:58:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"type":"numbered_list_item","numbered_list_item":{"rich_text":[{"type":"text","text":{"content":"blabla","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"blabla","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
  recorded_at: Mon, 04 Sep 2023 22:01:19 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/8245a1e5-9144-4ed4-83d8-7d92a1646726/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d7ae09fa-b479-4ae3-9a3a-6e9ae3eb5430
      etag:
      - W/"421-98hYyBwjyoVyUssE0w6DPGP12xA"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"186bb236-3bc9-48a6-91b2-474580f9ede0","parent":{"type":"page_id","page_id":"8245a1e5-9144-4ed4-83d8-7d92a1646726"},"created_time":"2022-07-30T09:04:00.000Z","last_edited_time":"2022-07-30T09:04:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"type":"image","image":{"caption":[],"type":"file","file":{"url":"https://s3.us-west-2.amazonaws.com/secure.notion-static.com/f91c4bd7-241a-40f4-86f1-0fcdcc0d4179/t-affirmative.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230904%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230904T220120Z&X-Amz-Expires=3600&X-Amz-Signature=0f38ddc115d6b482ecb580c5bd0541235c7484ddd1a6c0905a20baaae58fa1fe&X-Amz-SignedHeaders=host&x-id=GetObject","expiry_time":"2023-09-04T23:01:20.645Z"}}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
  recorded_at: Mon, 04 Sep 2023 22:01:20 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/9dc17c9c-9d2e-469d-bbf0-f9648f3288d3/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c8ae65fd-2f9c-42ff-a707-8fc523bb123d
      etag:
      - W/"9605-WBiWzigSY41BiUi7T1D2Cnqh6CA"
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"2c3c3f04-448f-4921-aed9-880094afe981\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"9dc17c9c-9d2e-469d-bbf0-f9648f3288d3\"},\"created_time\":\"2022-02-13T14:12:00.000Z\",\"last_edited_time\":\"2022-02-13T14:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"has_children\":false,\"archived\":false,\"type\":\"image\",\"image\":{\"caption\":[{\"type\":\"text\",\"text\":{\"content\":\"John
        Rambo having a coffee.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"John
        Rambo having a coffee.\",\"href\":null}],\"type\":\"external\",\"external\":{\"url\":\"https://media.gqmagazine.fr/photos/5bb5a42b46d32e001186b6b5/16:9/w_1280,c_limit/Rambo_Fist_blood_-_017photo1.jpg\"}}},{\"object\":\"block\",\"id\":\"9a95bfa9-9ae0-4df9-9edc-7071be3b5e9b\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"9dc17c9c-9d2e-469d-bbf0-f9648f3288d3\"},\"created_time\":\"2022-02-13T14:12:00.000Z\",\"last_edited_time\":\"2022-02-13T22:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"has_children\":false,\"archived\":false,\"type\":\"heading_1\",\"heading_1\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Heading
        1\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Heading
        1\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"8531af87-084f-44ad-9765-8e3a95949e21\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"9dc17c9c-9d2e-469d-bbf0-f9648f3288d3\"},\"created_time\":\"2022-02-13T14:12:00.000Z\",\"last_edited_time\":\"2022-02-13T14:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"has_children\":false,\"archived\":false,\[...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/pages/7a33528a-8a38-4148-bdb1-ca5a62a0ce3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 73d65753-f006-4ce0-92f5-f460cedcc383
      etag:
      - W/"588-6c5t7rCkaJfxwTm[...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/pages/6c934360-6ef6-4b12-abb6-bb9dc0d53622
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 38cf033c-085e-4dc8-b061-a8538bff5023
      etag:
      - W/"66d-uuqBe0bkM2uc/YB460xJJzubEzM"
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"6c934360-6ef6-4b12-abb6-bb9dc0d53622","created_time":"2022-01-23T12:31:00.000Z","last_edited_time":"2022-03-05T23:48:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1ae33dd5-f331-4402-9480-69517fa40ae2"},"archived":false,"properties":{"Multi
        Select":{"id":"%3C%7Bn%7B","type":"multi_select","multi_select":[{"id":"32e731fc-3fee-41d8-83f5-398b2981f1ac","name":"mselect3","color":"blue"}]},"Select":{"id":"%3EzjF","type":"select","select":{"id":"54e5217b-e8ab-4996-9839-6bed82b39519","name":"select2","color":"orange"}},"Person":{"id":"TFSp","type":"people","people":[]},"Date":{"id":"T~YB","type":"date","date":null},"Tags":{"id":"UT%3Fx","type":"multi_select","multi_select":[{"id":"3b7a831b-ad2b-4a5b-8e90-6c6de8d0b8e3","name":"tag3","color":"red"}]},"Numbers":{"id":"a~dg","type":"number","number":null},"Rich
        Text":{"id":"jJWo","type":"rich_text","rich_text":[]},"Phone":{"id":"k%5DEi","type":"phone_number","phone_number":null},"File":{"id":"x%60rF","type":"files","files":[]},"Email":{"id":"x%7Bcw","type":"email","email":null},"Checkbox":{"id":"%7CMPu","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
        3","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
        3","href":null}]}},"url":"https://www.notion.so/Page-3-6c9343606ef64b12abb6bb9dc0d53622","public_url":null}'
  recorded_at: Mon, 04 Sep 2023 22:01:36 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/pages/9dc17c9c-9d2e-469d-bbf0-f9648f3288d3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0d16964b-cf37-4a4d-81a8-aa734b70f0ef
      etag:
      - W/"ef6-GeqqIR+XqgJta1fvbCfWGfaSjDI"
    body:
      encoding: UTF-8
      string: "{\"object\":\"page\",\"id\":\"9dc17c9c-9d2e-469d-bbf0-f9648f3288d3\",\"created_time\":\"2022-01-23T12:31:00.000Z\",\"last_edited_time\":\"2022-10-04T20:23:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"db313571-0280-411f-a6de-70e826421d12\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://www.notion.so/images/page-cover/met_canaletto_1720.jpg\"}},\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A5\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"1ae33dd5-f331-4402-9480-69517fa40ae2\"},\"archived\":false,\"properties\":{\"Multi
        Select\":{\"id\":\"%3C%7Bn%7B\",\"type\":\"multi_select\",\"multi_select\":[{\"id\":\"ddf5e30e-fde6-4023-98a4-864674e8ae87\",\"name\":\"mselect1\",\"color\":\"gray\"},{\"id\":\"1be80fca-a275-4384-8268-6bb2f6a21616\",\"name\":\"mselect2\",\"color\":\"pink\"},{\"id\":\"32e731fc-3fee-41d8-83f5-398b2981f1ac\",\"name\":\"mselect3\",\"color\":\"blue\"}]},\"Select\":{\"id\":\"%3EzjF\",\"type\":\"select\",\"select\":{\"id\":\"fa788fbc-176b-49cb-be2e-552cc985cf7c\",\"name\":\"select1\",\"color\":\"yellow\"}},\"Person\":{\"id\":\"TFSp\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"a4e89628-577b-404f-b62b-36abe7f65fc7\",\"name\":\"Julie
        Guiraud\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/3e0bf8de-83a5-4579-8088-5a35021ab9cc/Foto_Perfil_Slack.jpg\",\"type\":\"person\",\"person\":{\"email\":\"gjulia20@gmail.com\"}}]},\"Date\":{\"id\":\"T~YB\",\"type\":\"date\",\"date\":{\"start\":\"2022-01-28\",\"end\":null,\"time_zone\":null}},\"Tags\":{\"id\":\"UT%3Fx\",\"type\":\"multi_select\",\"multi_select\":[{\"id\":\"be6ae2f6-5ae4-496b-b413-f5e7dbeff2a8\",\"name\":\"tag1\",\"color\":\"green\"}]},\"Numbers\":{\"id\":\"a~dg\",\"type\":\"number\",\"number\":12},\"Rich
        Text\":{\"id\":\"jJWo\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"This
        is a \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"c[...]
[...]
