---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/7a33528a-8a38-4148-bdb1-ca5a62a0ce3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6c3-RALefmgLdOhooyM5mqGblj0E1F8"
      x-notion-request-id:
      - 56d3328d-a667-46e8-adb1-a079878f6354
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c","created_time":"2022-09-17T15:03:00.000Z","last_edited_time":"2023-09-05T05:25:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1ae33dd5-f331-4402-9480-69517fa40ae2"},"archived":false,"in_trash":false,"properties":{"empty
        date":{"id":"%3A%7BfH","type":"date","date":null},"Multi Select":{"id":"%3C%7Bn%7B","type":"multi_select","multi_select":[]},"Select":{"id":"%3EzjF","type":"select","select":null},"date
        with time":{"id":"CUEj","type":"date","date":null},"Person":{"id":"TFSp","type":"people","people":[]},"Date":{"id":"T~YB","type":"date","date":null},"Tags":{"id":"UT%3Fx","type":"multi_select","multi_select":[]},"Numbers":{"id":"a~dg","type":"number","number":null},"Rich
        Text":{"id":"jJWo","type":"rich_text","rich_text":[]},"Phone":{"id":"k%5DEi","type":"phone_number","phone_number":null},"File":{"id":"x%60rF","type":"files","files":[]},"empty
        rich text":{"id":"xtDO","type":"rich_text","rich_text":[]},"Email":{"id":"x%7Bcw","type":"email","email":null},"Checkbox":{"id":"%7CMPu","type":"checkbox","checkbox":false},"empty_select":{"id":"%7DSr%3F","type":"select","select":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tables","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tables","href":null}]}},"url":"https://www.notion.so/tables-7a33528a8a384148bdb1ca5a62a0ce3c","public_url":null,"request_id":"56d3328d-a667-46e8-adb1-a079878f6354"}'
  recorded_at: Thu, 04 Sep 2025 15:54:10 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/7a33528a-8a38-4148-bdb1-ca5a62a0ce3c/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f2f-vWbToW8h/7+SvELTw8XoStTYaBw"
      x-notion-request-id:
      - 6a521dad-ee6d-421d-ad89-8f833c09fbae
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"a470e2ac-4d90-4c0b-b2f0-95b60d3de752","parent":{"type":"page_id","page_id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c"},"created_time":"2022-09-17T15:03:00.000Z","last_edited_time":"2022-09-17T15:03:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false}},{"object":"block","id":"388dee32-af17-4904-b593-59d7f579cf96","parent":{"type":"page_id","page_id":"7a33528a-8a38-4148-bdb1-ca5a62a0ce3c"},"created_time":"2022-09-17T15:04:00.000Z","last_edited_time":"2022-09-19T18:49:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":3,"has_column_heade[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/a470e2ac-4d90-4c0b-b2f0-95b60d3de752/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b27-Tc57905XQPeh5yKsSEAD7BLUlzc"
      x-notion-request-id:
      - 94bf6a31-a028-4da3-8d07-8ea4ff1b8dcc
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"8d2cdd98-91ba-461f-8f16-49fcab5cf715","parent":{"type":"block_id","block_id":"a470e2ac-4d90-4c0b-b2f0-95b60d3de752"},"created_time":"2022-09-17T15:03:00.000Z","last_edited_time":"2022-09-17T15:04:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"0.0
        cell","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"0.0
        cell","href":null}],[{"type":"text","text":{"content":"0.1 cell","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"0.1
        cell","href":null}]]}},{"object":"block","id":"8d191552-4cb9-4470-b5fe-7d[...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/dad7a2cc-dc02-47d1-8f62-b6377af0db2f/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"383-G3DDIRgND/dC7IoZNvAiXso9cSM"
      x-notion-request-id:
      - 7b149ef0-ae2c-4403-bc5a-aed287e6cae9
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"945cbaf4-1c9c-43ca-9a31-f31a725fce8c","parent":{"type":"block_id","block_id":"dad7a2cc-dc02-47d1-8f62-b6377af0db2f"},"created_time":"2022-09-27T19:49:00.000Z","last_edited_time":"2022-10-04T20:04:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"and
        this is a nested paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"and
        this is a nested paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7b149ef0-ae2c-4403-bc5a-aed287e6cae9"}'
  recorded_at: Thu, 04 Sep 2025 15:54:15 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/b2d82ef6-12cd-4124-8d08-f38fe01db2bd/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"62e-+6vCKB42pVk4yA5X5rHnGbpnjFM"
      x-notion-request-id:
      - ba1ef87d-1f9a-4997-9427-045402418f15
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"0b3c2abc-ebae-4bda-8080-aa731f82e58a","parent":{"type":"block_id","block_id":"b2d82ef6-12cd-4124-8d08-f38fe01db2bd"},"created_time":"2022-10-04T20:04:00.000Z","last_edited_time":"2022-10-04T20:05:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":true,"archived":false,"in_trash":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"blabla
        2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"blabla
        2","href":null}],"checked":false,"color":"default"}},{"object":"block","id":"7edfd8c3-f81e-496d-bdbe-6a427926a579","parent":{"type":"block_id","block_id":"b2d82ef6-12cd-4124-8d08-f38fe01db2bd"},"created_time":"2022-10-04T20:04:00.000Z","last_edited_time":"2022-10-04T20:04:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"blabla3","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"blabla3","href":null}],"checked":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ba1ef87d-1f9a-4997-9427-045402418f15"}'
  recorded_at: Thu, 04 Sep 2025 15:54:15 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/0b3c2abc-ebae-4bda-8080-aa731f82e58a/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"360-bdkUEXBdyD1QVQ9wATJ5n0ceZwc"
      x-notion-request-id:
      - 9567eb76-d1cb-44a9-9c6d-e3161d5809f8
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"afdafc1a-1f96-43a3-9159-b214134aec21","parent":{"type":"block_id","block_id":"0b3c2abc-ebae-4bda-8080-aa731f82e58a"},"created_time":"2022-10-04T20:05:00.000Z","last_edited_time":"2022-10-04T20:05:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"blabla
        5","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"blabla
        5","href":null}],"checked":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9567eb76-d1cb-44a9-9c6d-e3161d5809f8"}'
  recorded_at: Thu, 04 Sep 2025 15:54:16 GMT
recorded_with: VCR 6.3.1
