---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/9349e510-8c0e-4c0e-a772-b187d63ecfe1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a66-gJ6t7ZcYbwe+BHxS6AG2ueiqTD8"
      x-notion-request-id:
      - 2e476ae1-9558-4982-b855-19654427144c
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"9349e510-8c0e-4c0e-a772-b187d63ecfe1","created_time":"2023-12-01T17:17:00.000Z","last_edited_time":"2025-08-30T05:12:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1ae33dd5-f331-4402-9480-69517fa40ae2"},"archived":false,"in_trash":false,"properties":{"empty
        date":{"id":"%3A%7BfH","type":"date","date":null},"Multi Select":{"id":"%3C%7Bn%7B","type":"multi_select","multi_select":[{"id":"5e2d600e-43b9-4c5c-84dc-db9504353981","name":"dsd:
        dd","color":"brown"},{"id":"ddf5e30e-fde6-4023-98a4-864674e8ae87","name":"mselect1","color":"gray"}]},"Select":{"id":"%3EzjF","type":"select","select":{"id":"9b81da08-b30b-4c5b-ba69-29b6414ce81e","name":"blabl:
        bka","color":"default"}},"date with time":{"id":"CUEj","type":"date","date":null},"Person":{"id":"TFSp","type":"people","people":[]},"Date":{"id":"T~YB","type":"date","date":null},"Tags":{"id":"UT%3Fx","type":"multi_select","multi_select":[{"id":"1776d835-ee8c-4a20-8726-511b99fa0a95","name":"tag:
        tag","color":"yellow"}]},"Numbers":{"id":"a~dg","type":"number","number":null},"Rich
        Text":{"id":"jJWo","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Rich
        text: with “double quotes” and ‘single quotes’ and :colons:","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rich
        text: with “double quotes” and ‘single quotes’ and :colons:","href":null}]},"Phone":{"id":"k%5DEi","type":"phone_number","phone_number":null},"File":{"id":"x%60rF","type":"files","files":[]},"empty
        rich text":{"id":"xtDO","type":"rich_text","rich_text":[]},"Email":{"id":"x%7Bcw","type":"email","email":null},"Checkbox":{"id":"%7CMPu","type":"checkbox","checkbox":false},"empty_select":{"id":"%7DSr%3F","type":"select","select":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Title:
        with “double quotes” and ‘single quotes’ and :colons: but forget àccénts:
        àáâãäāăȧǎȁȃ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Title:
        with “double quotes” and ‘single quotes’ and :colons: but forget àccénts:
        àáâãäāăȧǎȁȃ","href":null}]}},"url":"https://www.notion.so/Title-with-double-quotes-and-single-quotes-and-colons-but-forget-cc-nts-9349e5108c0e4c0ea772b187d63ecfe1","public_url":null,"request_id":"2e476ae1-9558-4982-b855-19654427144c"}'
  recorded_at: Thu, 04 Sep 2025 15:54:09 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/9349e510-8c0e-4c0e-a772-b187d63ecfe1/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"194a-6zOcoLxHn6GgkY2JJKmPoBrxgdA"
      x-notion-request-id:
      - '036493c2-5e47-429b-bd5b-436b5d85cbf6'
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"25fdb135-281c-8097-bb60-ea76959e300f","parent":{"type":"page_id","page_id":"9349e510-8c0e-4c0e-a772-b187d63ecfe1"},"created_time":"2025-08-30T05:12:00.000Z","last_edited_time":"2025-08-30T05:12:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien porttitor,
        aliquet est dignissim, dapibus libero. Integer sapien tortor, volutpat sed
        efficitur sit amet, sagittis ut nisi. Nunc sollicitudin condimentum finibus.
        Cras auctor sit amet leo at porttitor. Donec dignissim laoreet tortor, ullamcorper
        elementum magna aliquam a. Maecenas viverra, risus eu posuere fringilla, est
        odio vi[...]
