---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/6c934360-6ef6-4b12-abb6-bb9dc0d53622
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[REDACTED]"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7a5-fbsvoZdTY/xsOXio+ZWMVjNkO7Y"
      x-notion-request-id:
      - 14bf55da-1ce7-40c1-b6a3-659410287997
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"6c934360-6ef6-4b12-abb6-bb9dc0d53622","created_time":"2022-01-23T12:31:00.000Z","last_edited_time":"2022-03-05T23:48:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1ae33dd5-f331-4402-9480-69517fa40ae2"},"archived":false,"in_trash":false,"properties":{"empty
        date":{"id":"%3A%7BfH","type":"date","date":null},"Multi Select":{"id":"%3C%7Bn%7B","type":"multi_select","multi_select":[{"id":"32e731fc-3fee-41d8-83f5-398b2981f1ac","name":"mselect3","color":"blue"}]},"Select":{"id":"%3EzjF","type":"select","select":{"id":"54e5217b-e8ab-4996-9839-6bed82b39519","name":"select2","color":"orange"}},"date
        with time":{"id":"CUEj","type":"date","date":null},"Person":{"id":"TFSp","type":"people","people":[]},"Date":{"id":"T~YB","type":"date","date":null},"Tags":{"id":"UT%3Fx","type":"multi_select","multi_select":[{"id":"3b7a831b-ad2b-4a5b-8e90-6c6de8d0b8e3","name":"tag3","color":"red"}]},"Numbers":{"id":"a~dg","type":"number","number":null},"Rich
        Text":{"id":"jJWo","type":"rich_text","rich_text":[]},"Phone":{"id":"k%5DEi","type":"phone_number","phone_number":null},"File":{"id":"x%60rF","type":"files","files":[]},"empty
        rich text":{"id":"xtDO","type":"rich_text","rich_text":[]},"Email":{"id":"x%7Bcw","type":"email","email":null},"Checkbox":{"id":"%7CMPu","type":"checkbox","checkbox":false},"empty_select":{"id":"%7DSr%3F","type":"select","select":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
        3","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
        3","href":null}]}},"url":"https://www.notion.so/Page-3-6c9343606ef64b12abb6bb9dc0d53622","public_url":null,"request_id":"14bf55da-1ce7-40c1-b6a3-659410287997"}'
  recorded_at: Sun, 07 Sep 2025 16:25:02 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/6c934360-6ef6-4b12-abb6-bb9dc0d53622/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[REDACTED]"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1edb-Ctg48h5J4XY4uXydbqv+SEJvWuY"
      x-notion-request-id:
      - c3fc2c05-0edd-427b-9a0d-c54ae19b3e70
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"95e91a0a-9577-45dc-bb2d-fe2c89ccc272","parent":{"type":"page_id","page_id":"6c934360-6ef6-4b12-abb6-bb9dc0d53622"},"created_time":"2022-02-05T16:29:00.000Z","last_edited_time":"2022-03-05T23:43:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus semper risus,
        non iaculis nisi. Praesent ut magna auctor, consequat metus in, hendrerit
        ligula. Maecenas sagittis pulvinar metus, ut blandit ex tincidunt quis. Quisque
        ullamcorper urna sapien, vitae malesuada libero auctor eget. Etiam eu neque
        tellus. Nam et purus at orci aliquam malesuada non a libero. Vivamus at condimentum
        dolo[...]
