---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/0b8c4501-2092-46c1-b800-529623746afc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[AUTH_REDACTED]"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e69-OdacCyFMgyn1EbcVe+mQyfheTEY"
      X-Notion-Request-Id:
      - 8d691c0a-292a-4121-93ce-b8a43845e60e
    body:
      encoding: ASCII-8BIT
      string: '{"object":"page","id":"0b8c4501-2092-46c1-b800-529623746afc","created_time":"2022-01-23T12:31:00.000Z","last_edited_time":"2024-05-25T10:02:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":{"type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/4783548e-2442-4bf3-bb3d-ed4ddd2dcdf0/73f70b17-2331-4012-99be-24fcbd1c85db/t-affirmative.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XPYEZG7O%2F20250908%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250908T102653Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLXdlc3QtMiJHMEUCIBn4KpxjUi1f5LZiq6%2FuKU5jOmrfTUoKHHAVpjW8RaZFAiEA37%2B2foZyuXw491WZm%2FNakSsPWaY6fiqz0kkSPHq[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/0b8c4501-2092-46c1-b800-529623746afc/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[AUTH_REDACTED]"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"313f-njTjqlqsECYtKkWDICggpr+sRQk"
      X-Notion-Request-Id:
      - f4c452d0-21d4-45fc-ba63-1b91e5c196d3
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[{"object":"block","id":"a783039e-6939-4375-9b41-082b373ee17f","parent":{"type":"page_id","page_id":"0b8c4501-2092-46c1-b800-529623746afc"},"created_time":"2024-05-25T10:02:00.000Z","last_edited_time":"2024-05-25T10:02:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"table_of_contents","table_of_contents":{"color":"gray"}},{"object":"block","id":"8565a6f7-b99b-4c2d-b276-8113bf1306d5","parent":{"type":"page_id","page_id":"0b8c4501-2092-46c1-b800-529623746afc"},"created_time":"2024-05-25T10:01:00.000Z","last_edited_time":"2024-05-25T10:01:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Heading
        1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Heading
        1","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"c0ad42f1-cd91-4dc7-879e-128f4598254d","parent":{"type":"page_id","page_id":"0b8c4501-2092-46c1-b800-529623746afc"},"created_time":"2022-02-05T16:29:00.000Z","last_edited_time":"2022-02-05T16:29:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus semper risus,
        non iaculis nisi. Praesent ut magna auctor, consequat metus in, hendrerit
        ligula. Maecenas sagittis pulvinar metus, ut blandit ex tincidunt quis. Quisque
        ullamcorper urna sapien, vitae malesuada libero auctor eget. Etiam eu neque
        tellus. Nam et purus at orci aliquam malesuada non a libero. Vivamus at condimentum
        dolo[...]
[...]
