---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/0b8c4501-2092-46c1-b800-529623746afc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[REDACTED]"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e45-TN/1jHijdHJxmrmohm+abyJBU+s"
      x-notion-request-id:
      - ca16774b-31d2-432f-93be-c51daf2daaf6
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"0b8c4501-2092-46c1-b800-529623746afc","created_time":"2022-01-23T12:31:00.000Z","last_edited_time":"2024-05-25T10:02:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":{"type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/4783548e-2442-4bf3-bb3d-ed4ddd2dcdf0/73f70b17-2331-4012-99be-24fcbd1c85db/t-affirmative.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB4665VLVF6HZ%2F20250905%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250905T084308Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAgaCXVzLXdlc3QtMiJIMEYCIQCnV6ozzIE4z84ohLwfd1OO8Vv0Rqd3UJgGzRWBZYOCBwIhAKaSgDb%2B3RzMXb23Qsy8SfOGu8Ab6VcjJD9zZE0fWJ9[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/0b8c4501-2092-46c1-b800-529623746afc/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[REDACTED]"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"313f-kAjpqypC5YXkPmkv4Fdb2QvFE0k"
      x-notion-request-id:
      - 63dad1fa-7630-4cb4-ae6d-05eb591f3a30
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"a783039e-6939-4375-9b41-082b373ee17f","parent":{"type":"page_id","page_id":"0b8c4501-2092-46c1-b800-529623746afc"},"created_time":"2024-05-25T10:02:00.000Z","last_edited_time":"2024-05-25T10:02:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"table_of_contents","table_of_contents":{"color":"gray"}},{"object":"block","id":"8565a6f7-b99b-4c2d-b276-8113bf1306d5","parent":{"type":"page_id","page_id":"0b8c4501-2092-46c1-b800-529623746afc"},"created_time":"2024-05-25T10:01:00.000Z","last_edited_time":"2024-05-25T10:01:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Heading
        1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Heading
        1","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"c0ad42f1-cd91-4dc7-879e-128f4598254d","parent":{"type":"page_id","page_id":"0b8c4501-2092-46c1-b800-529623746afc"},"created_time":"2022-02-05T16:29:00.000Z","last_edited_time":"2022-02-05T16:29:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus semper risus,
        non iaculis nisi. Praesent ut magna auctor, consequat metus in, hendrerit
        ligula. Maecenas sagittis pulvinar metus, ut blandit ex tincidunt quis. Quisque
        ullamcorper urna sapien, vitae malesuada libero auctor eget. Etiam eu neque
        tellus. Nam et purus at orci aliquam malesuada non a libero. Vivamus at condimentum
        dolo[...]
[...]
